In [20]:

import numpy as np

d = [('ak',1),('ak',3), ('ca',1), ('ca',np.nan)]

In [21]:
import pandas as pd
df = pd.DataFrame(d, columns=['state', 'value'])
df

  state  value
0    ak    1.0
1    ak    3.0
2    ca    1.0
3    ca    NaN

In [22]:
df.groupby('state').mean()

       value
state
ak       2.0
ca       1.0