In [23]:
tbl ='''
Breaking Bad        ,10001        ,  1,
Better Call Saul    ,10001        ,  1,
The Walking Dead    ,10001        ,  0,
The Daily Show      ,10001        ,  0,
Silicon Valley      ,10001        ,  1,
The Best Show Ever  ,10001        ,  0,
Breaking Bad        ,10002        ,  1,
Top Chef            ,10002        ,  1,
Top Gear            ,10002        ,  1,
The Walking Dead    ,10002        ,  0,
The Best Show Ever  ,10002        ,  1,
Breaking Bad        ,10007        ,  1,
Top Chef            ,10007        ,  1,
Iron Chef           ,10007        ,  1,
Ancient Aliens      ,10007        ,  1,
Ice Road Truckers   ,10007        ,  1,
Iyanla Fix My Life ,10007         ,  1,
Deadliest Catch     ,10007        ,  1
'''
tbl = tbl.split(',')
data_list = []
for i in range(0,len(tbl),3):
    row = []
    row.append(tbl[i].strip())
    row.append(tbl[i+1].strip())
    row.append(int(tbl[i+2].strip()))
    data_list.append(row)

In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.DataFrame(data_list, columns=['shows','member_id','like'])
df.head()

              shows member_id  like
0      Breaking Bad     10001     1
1  Better Call Saul     10001     1
2  The Walking Dead     10001     0
3    The Daily Show     10001     0
4    Silicon Valley     10001     1

In [34]:
##How would you identify people to target with recommendations for "The Best Show Ever"?

#get members who enjoyed the best show ever
members = df[(df['shows']=='The Best Show Ever') & (df['like']==1)]['member_id'].values

#get shows these people liked
related_shows = df[(df['member_id'].isin(members)) & (df['like']==1)]['shows'].unique()
related_shows

array(['Breaking Bad', 'Top Chef', 'Top Gear', 'The Best Show Ever'], dtype=object)

In [42]:
#we can suggest to the viewers of the related_shows that they might like the best show ever
df[(df['shows'].isin(related_shows)) & (df['like']==1)]['member_id'].unique()

array(['10001', '10002', '10007'], dtype=object)