https://www.kaggle.com/agpickersgill/credit-card-fraud-detection/data

description of data: 
Time: Number of seconds since first transaction in this two-day period. Max value is 172792 seconds which is ~48 hours.
Class: 0 -> non_fraud, 1-> fraud
V1-V28: Features
Amount: transaction amount

In [185]:
import pandas as pd
import numpy as np

from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_validate, KFold
from sklearn.metrics import classification_report

import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.ensemble import GradientBoostingClassifier

import seaborn as sns

sns.set_style("whitegrid")
sns.set_context("poster")
data_input = 'data/creditcard.csv'

In [5]:
df_data = pd.read_csv(data_input)
df_data.head(3)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0

In [10]:
df_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,3.919560e-15,5.688174e-16,-8.769071e-15,2.782312e-15,-1.552563e-15,2.010663e-15,-1.694249e-15,-1.927028e-16,-3.137024e-15,...,1.537294e-16,7.959909e-16,5.367590e-16,4.458112e-15,1.453003e-15,1.699104e-15,-3.660161e-16,-1.206049e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [39]:
df_data['Amount'].values.reshape(-1,1).shape

(284807, 1)

In [65]:
#normalize amount
scaler = StandardScaler()
scaler.fit(df_data['Amount'].values.reshape(-1,1))
df_data['amt_normalized'] = df_data['Amount'].apply(scaler.transform)
df_data['amt_normalized'] = df_data['amt_normalized'].apply(lambda x: x[0][0])
df_data.head(2)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,Amount,Class,amt_normalized
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0,0.244964
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0,-0.342475

In [126]:
def get_top_features(percent):
    '''
    uses PCA to calculate total variance of each feature. Uses that variance to return 
    the top features representing x percent of total variance in this dataset
    percent must be in range [0,1]
    '''
    if not 0 <= percent <= 1:
        print 'bad arg'
        return list()
    
    #calculate features using pca, and total variance of this dataset
    top_features = []
    df_features = df_data.drop(['Time','Amount','Class'], axis=1)
    pca = PCA(n_components = df_features.shape[1] )
    pca.fit_transform(df_features)
    variance_to_features = sorted(zip(pca.explained_variance_, df_features.columns), reverse=True)
    total_variance = sum([i[0] for i in variance_to_features])

    #get top features while the total variance accounted for is less than x percent of total
    variance_accounted = 0
    for var, feature in variance_to_features:
        variance_accounted += var
        top_features.append(feature)
        if variance_accounted > total_variance * percent:
            break
    return top_features

top_features = get_top_features(0.9)   
top_features

['V1',
 'V2',
 'V3',
 'V4',
 'V5',
 'V6',
 'V7',
 'V8',
 'V9',
 'V10',
 'V11',
 'V12',
 'V13',
 'V14',
 'V15',
 'V16',
 'V17',
 'V18',
 'V19',
 'V20']

In [148]:
x_train, x_test, y_train, y_test = train_test_split(df_data.drop('Class', axis=1), df_data['Class'], test_size=0.25, random_state=7)
#check distribution of class
y_test.describe(), y_train.describe()

(count    71202.00000
 mean         0.00177
 std          0.04203
 min          0.00000
 25%          0.00000
 50%          0.00000
 75%          0.00000
 max          1.00000
 Name: Class, dtype: float64, count    213605.000000
 mean          0.001713
 std           0.041358
 min           0.000000
 25%           0.000000
 50%           0.000000
 75%           0.000000
 max           1.000000
 Name: Class, dtype: float64)

In [170]:
[0 for _ in range(df_fraud.shape[0])].extend([1 for _ in range(df_fraud.shape[0])])
l = [0 for _ in range(2)]
l.extend([1])
l

[0, 0, 1]

In [179]:
#we see that V1 - V20 represents the top 90% of the variance in this dataset.  
#Let's start with this and create a boosted decision tree classifier

#get the entire dataset, and undersample.  Then when we test the classifier, we test against the entire dataset

df_fraud = df_data.loc[df_data['Class']==1]
df_nonfraud = df_data.loc[df_data['Class']==0]

# def get_undersample_data():
#     training_features =  pd.concat([df_fraud,df_nonfraud.sample(df_fraud.shape[0])])
#     training_classes = [0 for _ in range(df_fraud.shape[0])]
#     training_classes.extend([1 for _ in range(df_fraud.shape[0])])
#     return training_features, training_classes

def get_undersample_data():
    return pd.concat([df_fraud, df_nonfraud.sample(df_fraud.shape[0])])


df_train = get_undersample_data()
clf = GradientBoostingClassifier()
clf.fit(df_train[top_features], df_train['Class'])

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [186]:
predictions = clf.predict(df_data[top_features])
print classification_report(df_data['Class'], predictions)

             precision    recall  f1-score   support

          0       1.00      0.96      0.98    284315
          1       0.04      1.00      0.08       492

avg / total       1.00      0.96      0.98    284807

Default classification model has high number of fraud classification.
high recall for fraud meaning it found all the fraud transcations.
low precision for fraud means it detected many transactions which was not fraud as fraud.

So where do we draw the line for precision and recall?  It depends on the business. Maybe we can creat a custom loss function to minimize
using the amount of money lost with wrong classifications.

In [188]:
np.unique(df_data['Class'], return_counts=True), np.unique(predictions, return_counts=True)

((array([0, 1]), array([284315,    492])),
 (array([0, 1]), array([273727,  11080])))

In [64]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

df = pd.DataFrame([(1,2,3), (2,3,4), (3,4,5)], columns=['a','b','c'])
scaler = StandardScaler().fit(df['c'].values.reshape(-1,1))
df['d'] = df['c'].apply(scaler.transform)
df['d'] = df['d'].apply(lambda x: x[0][0])
df

   a  b  c         d
0  1  2  3 -1.224745
1  2  3  4  0.000000
2  3  4  5  1.224745

In [47]:
d

   a  b  c
0  1  2  3
1  2  3  4
2  3  4  5