In [1]:
import sys

import pandas as pd
from pandas.compat import StringIO

In [14]:
input_data = StringIO('''
outlook,temp,humidity,windy,play
sunny,hot,high,false,no
sunny,hot,high,true,no
overcast,hot,high,false,yes
rainy,mild,high,false,yes
rainy,cool,normal,false,yes
rainy,cool,normal,true,no
overcast,cool,normal,true,yes
sunny,mild,high,false,no
sunny,cool,normal,false,yes
rainy,mild,normal,false,yes
sunny,mild,normal,true,yes
overcast,mild,high,true,yes
overcast,hot,normal,false,yes
rainy,mild,high,true,no
''')

In [15]:
weather_data = pd.read_csv(input_data)
weather_data.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

https://www.python-course.eu/Decision_Trees.php

In [7]:
import math
import numpy as np
import pandas as pd

In [8]:
data = pd.DataFrame({"toothed":["True","True","True","False","True","True","True","True","True","False"],
                     "hair":["True","True","False","True","True","True","False","False","True","False"],
                     "breathes":["True","True","True","True","True","True","False","True","True","True"],
                     "legs":["True","True","False","True","True","True","False","False","True","True"],
                     "species":["Mammal","Mammal","Reptile","Mammal","Mammal","Mammal","Reptile","Reptile","Mammal","Reptile"]}, 
                    columns=["toothed","hair","breathes","legs","species"])
features = data[["toothed","hair","breathes","legs"]]
target = data["species"]
data

  toothed   hair breathes   legs  species
0    True   True     True   True   Mammal
1    True   True     True   True   Mammal
2    True  False     True  False  Reptile
3   False   True     True   True   Mammal
4    True   True     True   True   Mammal
5    True   True     True   True   Mammal
6    True  False    False  False  Reptile
7    True  False     True  False  Reptile
8    True   True     True   True   Mammal
9   False  False     True   True  Reptile

In [47]:
def calc_entropy(values):
        '''
        calculate entropy of the values. Takes in either a list or np.array object
        '''
        value, counts = np.unique(values, return_counts=True)
        norm_counts = counts/(1.0*counts.sum())
        return -(norm_counts*np.log2(norm_counts)).sum()

In [48]:
calc_entropy(data.species)

0.9709505944546686

In [65]:
def find_best_split(data):
    '''
    take in dataframe and searches for the best split
    assumes the last column is the labels
    '''
    feature_columns = data.columns[:-1]
    
    current_entropy = calc_entropy(data['species'])
    print current_entropy
    #object to keep track of splits/entropy gains
    col_entropy_gain = {}
    split_dataframes = {}
    
    #iterate through the values in col.
    for col in feature_columns:
        #make split
        left = data[data[col]=='True']
        right = data[data[col]=='False']
        
        #calculate sum of the entropies
        diff = current_entropy - \
                (calc_entropy(left['species']) + calc_entropy(right['species']))
        col_entropy_gain[col] = diff
        split_dataframes[col] = [left, right]
    
    #get the column of best entropy gain and return the dataframes also
    best_col = max(col_entropy_gain, key=col_entropy_gain.get)
    return col_entropy_gain[best_col], split_dataframes[col]

0.9709505944546686

(0.9709505944546686, [  toothed   hair breathes  legs  species
  0    True   True     True  True   Mammal
  1    True   True     True  True   Mammal
  3   False   True     True  True   Mammal
  4    True   True     True  True   Mammal
  5    True   True     True  True   Mammal
  8    True   True     True  True   Mammal
  9   False  False     True  True  Reptile,
    toothed   hair breathes   legs  species
  2    True  False     True  False  Reptile
  6    True  False    False  False  Reptile
  7    True  False     True  False  Reptile])

In [ ]:
class MyDecisionTree(object):
    def __init__(self):
        pass
    
    @staticmethod
    def calc_entropy(values):
        '''
        calculate entropy of the values. Takes in either a list or np.array object
        '''
        value, counts = np.unique(values, return_counts=True)
        norm_counts = counts/(1.0*counts.sum())
        return -(norm_counts*np.log2(norm_counts)).sum()